
#main-viewport {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;    
    height: 800px;
    overflow: hidden;
    border: solid 1px #000;
}
/* 
#id-viewport {
    overflow: scroll;
} */

.board {
    position: relative;
    margin: auto;
    margin-top: 30px;
    height: 90%;
    width: 90%;
}

#tile-board {
display: grid;
grid-template-columns: repeat(var(--board-size), 1fr);
aspect-ratio: 1/1;

}

.board-tile {
    
    position: relative;
    font-size: 10px;
    text-align: center;
    background-color: #FFF;
    /* border: solid 1px #000; */
    /*box-shadow: inset 0 0 0 1px #000;*/
    aspect-ratio: 1/1;
    /* flex: 1 0 calc(100% / var(--board-size) - 1px); */

    

}

.board-tile:hover  {
    background-image: radial-gradient(transparent 60%, black);
}


#player-board * {
    position: absolute;
}

#custom-context-menu {
    display: none;
    border: dotted 2px #FFF;
    background-color: black;
    position: absolute;
    width: 100px;
    height: 15px;
    border-radius: 25%;
}


.window {
    border: solid 1px #000;
    width: 200px;
    height: 200px;
    padding: 15px;
    position: absolute;
}

#debug-window {
    top: 350px;
    right: 50px;
    width: 400px;
    height: 480px;
    background-color: black;
    color: lime;
    font-family: "Monospace", "Courier New";
    display: flex;
    flex-direction: column;
    line-height: 15px;
    overflow-y: scroll;

}

#real-time-debug-window {
    top: 108px;
    right: 50px;
    width: 160px;
}



#tile-properties-window {
    
    right: 250px;
    line-height: 12px;
}



.pawn {
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    
}